@tailwind base;
@tailwind components;
@tailwind utilities;


.primary{
    background-color: #050816;
}

.secondary {
    background-color: #aaa6c3;
}

.tertiary{
    background-color:#151030;
}

.hoverColor {
    background-color: #7f3de2;
}

.showElement{
    display: grid;
}

.hideElement{
    display: none;
}

.containerWidth {
    width: 71rem;
    margin: 0 auto;
    max-width: 100%;
    padding: 6rem 2rem;
}
